html {
    box-sizing: border-box;
    // overflow-x: hidden;
}
*,
*::after,
*::after {
    box-sizing: inherit;
}

.box {
    display: flex;
}

body {
    font-family: "Cera Pro";
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}