@import 'fonts';
@import 'vars';
@import 'global';


// header, dots start


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: transparent;
    overflow: hidden;

    &__inner {
        margin: 40px auto 0px 60px;
    }

    &__menu {
        margin-left: 706px;
        margin-top: -41px;
    }

    &__menu-list {

        display: inline;


        &+li {
            margin-left: 50px;
        }
    }

    &__menu-link {
        text-decoration: none;
        color: white;
    }
}

.slider-nav {
    position: fixed;
    overflow: hidden;
    z-index: 10;
    left: 63px;
    top: 282px;


    &__dots {
        background-color: transparent;
        z-index: 110;
        border: none;
        color: grey;
        font-size: 14px;
        line-height: 18px;
        display: block;

        &+a {
            margin-top: 15px;
        }

    }


}



// header, dots end

// slider 1 (information) start

.information {
    // height: 714px;
    height: 100vh;
    background-size: cover;

    &__slider-title {
        font-size: 60px;
        font-weight: bold;
        line-height: 75px;
        color: white;
        padding-left: 136px;
        padding-top: 202px;
    }

    &__slider-text {
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        max-width: 569px;
        color: white;
        margin-left: 136px;
        margin-top: 5px;
    }

    &__slider-btn {
        border: none;
        background-color: transparent;
        margin-right: 22px;
    }

    &__slider-arrow {
        margin-left: 129px;
        margin-top: 60px;

    }
}

// slider 1 (information) end


// slider 2 (comand)  start

.comand {
    background-color: black;
    // height: 714px;
    height: 100vh;
    position: relative;

    &__slider {
        display: flex;
        justify-content: start;
    }



    &__slider-top {
        padding-top: 371px;
        z-index: 1;
    }

    &__title {
        margin-top: -214px;
        margin-left: -39px;
        font-size: 48px;
        font-weight: bold;
        line-height: 60px;
        color: white;
    }



    &__text {
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        max-width: 970px;
        color: #B7B9B8;
        margin-top: 18px;
        margin-left: -38px;
    }

    &__btn {
        position: absolute;
        padding: 11px 25px;
        margin-right: -140px;
        right: 353px;
        top: 230px;
        border: solid 2px white;
        display: inline-block;
        text-decoration: none;
        color: white;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        padding: 11px 25px;
        margin-right: -140px;
    }

    &__info {
        display: flex;
        justify-content: flex-start;
        margin-top: -29px;
    }

    &__item-foto {
        margin-left: -39px;
        margin-right: 169px;
    }


    &__item-name {
        color: white;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        margin-top: 25px;
        margin-left: -39px;
    }

    &__item-prof {
        color: #B7B9B8;
        font-size: 16px;
        line-height: 20px;
        font-weight: normal;
        margin-top: 2px;
        margin-left: -39px;
    }
}

// slide (comand) 2 end

// slide (advantage) 3 start

.advantage {
    background-color: black;
    // position: relative;
    // height: 714px;
    height: 100vh;

    &__inner {
        display: flex;
        justify-content: start;
        padding-top: 250px;
    }

    // &__slider-right {
    //     position: relative;
    //     margin-left: 58px;
    //     margin-top: 50px;
    //     z-index: 1;
    //     display: flex;
    //     justify-content: start;



    &__info {
        width: calc(100% / 4 + 1rem);
        margin-left: -39px;
        
    }

    &__number {
        border: none;
        background-color: white;
        width: 70px;
        height: 70px;
        text-align: center;
        align-items: center;
        font-size: 48px;
        line-height: 60px;
        font-weight: bold;
        padding-top: 6px;
    }

    &__title {
        font-size: 22px;
        font-weight: bold;
        line-height: 28px;
        color: white;
        margin-top: 30px;
    }

    &__text {
        // width: calc(100% / 4);
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #B7B9B8;
        margin-top: 5px;
    }


}

.first {
    max-width: 189px;
}

.second {
    max-width: 278px;
}

.third {
    max-width: 270px;
}

.fourth {
    max-width: 219px;
}



// slide (advantage) 3 end

// slide (price) 4 start

.price {
    background-color: black;
    height: 714px;


    &__slider {
        display: flex;
        justify-content: start;
    }

    &__check {
        display: flex;
        justify-content: start;
    }

    &__title {
        font-size: 48px;
        line-height: 60px;
        font-weight: bold;
        color: white;
        margin-left: -39px;
        padding-top: 156px
    }

    &__info-title {
        margin-right: -10px;
        margin-top: 258px;
        margin-left: -224px;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        color: white;

    }

    &__info-item {
        margin-top: 50px;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #7C7C7C;
        list-style-type: none;

        &+li {
            margin-top: 27px;
        }
    }

    &__list-title {

        margin-right: -339px;
        margin-top: 258px;
        margin-left: 262px;
        font-size: 22px;
        line-height: 28px;
        font-weight: bold;
        color: white;


    }

    &__list-item {
        margin-bottom: -24px;
        margin-top: 51px;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #7C7C7C;
        

        &+li {
            margin-top: 27px;
        }
    }



    &__list-btn {

        margin-top: 583px;
        border: 2px solid white;
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        color: white;
        padding: 11px 25px;
        background-color: transparent;
        margin-left: 38px;
        cursor: pointer;
    }


}




// slide (price) 4 end

// slide (footer) 5 start

.footer {
    height: 100vh;
    // height: 714px;
    background-image: url(../images/footerimg.png);
    background-position: left 136px center;
    background-repeat: no-repeat;
    background-color: black;

    &__slider {
        display: flex;
        justify-content: start;
        margin-left: 202px;
        margin-top: 0px
    }

    &__form {
        margin-top: 108px;
        margin-left: 459px;
        background-color: white;
        min-width: 470px;
    }

    &__form-description {
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        color: black;
        padding-top: 28px;
        padding-left: 30px;
    }

    &__form-title {
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
        color: black;
        padding-left: 30px;
        margin-top: 6px;
    }

    &__form-data {
        border: none;
        border-bottom: solid 1px #D5D5D5;
        width: 400px;
        padding-right: 50px;
        padding-bottom: 11px;
        color: black;
        font-size: 14px;
        line-height: 18px;
        font-weight: normal;
        margin-left: 18px;
        outline: none;

        &::placeholder {
            color: black;
        }
    }

    &__form-in {
        border: none;
    }

    &__form-check {
        margin-left: 18px;
        margin-top: 9px;
    }

    &__form-label {
        font-size: 14px;
        line-height: 18px;
        font-weight: bold;
        color: black;
        margin-left: 11px;
    }

    &__form-btn {
        border: none;
        background-color: black;
        color: white;
        font-size: 14px;
        line-height: 18px;
        font-weight: 500;
        padding: 16px 168px 16px 169px;
        margin-left: 18px;
        margin-top: 12px;
        margin-bottom: 20px;
        cursor: pointer;
    }

    &__adres {
        background-color: #EAEAEA;
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #7C7C7C;
        width: 470px;
        text-align: center;
        align-items: center;
        padding-left: 88px;
        padding-right: 88px;
        padding-top: 32px;
        padding-bottom: 34px;
    }

}

.name {
    margin-top: 18px;
    margin-left: 15px;
}

.mail {
    margin-top: 18px;
    margin-left: 15px;
}

.messadge {
    margin-top: 18px;
    margin-left: 15px;
}



// slide (footer) 5 end

// dods for slider start

.slick-dots {
    background-color: transparent;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: auto;
    bottom: auto;
    top: 344px;
    left: 0;
    transform: translateY(-50%);
    left: auto;
    color: #fff;
    display: block;



    li {
        display: block;
        width: 100%;
        height: auto;
        margin-top: 14px;
        margin-left: 24px;


        &:before {
            content: '';
            background: #fff;
            color: #fff;
            height: 2px;
            width: 77px;
            border-radius: 0;
            position: absolute;
            top: 50%;
            right: auto;
            left: 0;
            transform: translateY(-50%);
            transition: all .3s ease-in-out;
            opacity: 0.6;
        }


        &.slick-active {
            button {
                &:before {
                    width: 70px;
                    opacity: 1;
                }
            }
        }
    }
}